In [1]:
import pandas as pd
data=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
Timestamp        26 non-null object
Name             26 non-null object
MailId           26 non-null object
Branch           26 non-null object
Qualification    26 non-null object
RollNumber       26 non-null object
dtypes: object(6)
memory usage: 1.3+ KB

In [3]:
data.describe

<bound method NDFrame.describe of               Timestamp                       Name  \
0   30/01/2020 15:00:07              Sai Naga Raju
1   30/01/2020 15:00:20                   R deepak
2   30/01/2020 15:00:23              P K CHAITANYA
3   30/01/2020 15:00:25                 B SRIKANTH
4   30/01/2020 15:00:28           Himaja cherukuri
5   30/01/2020 15:00:28              M.Geethanjali
6   30/01/2020 15:00:33                  M.Nikhita
7   30/01/2020 15:00:37           DASARI PAVAN SAI
8   30/01/2020 15:00:39              B Jagan Mohan
9   30/01/2020 15:00:41          k.parameswara rao
10  30/01/2020 15:00:43           B.Ravindra kumar
11  30/01/2020 15:00:44        P.M.S.Bhargav Kumar
12  30/01/2020 15:00:45      Thatavarti kavya sree
13  30/01/2020 15:01:10               Harish Bandi
14  30/01/2020 15:01:16     M.Bhavani Sankar Reddy
15  30/01/2020 15:01:24             Devendra Kumar
16  30/01/2020 15:01:35                    M.Ramya
17  30/01/2020 15:01:49            T.V.Naga Jyothi
18  30/01/2020 15:01:50             Ananda Lakshmi
19  30/01/2020 15:01:56                K . krishna
20  30/01/2020 15:02:04       Md.Ali Asghar Khoyee
21  30/01/2020 15:02:41           G. Vineeth Kumar
22  30/01/2020 15:02:49  JAYA NAVEEN KUMAR DUPPATI
23  30/01/2020 15:02:59                   vikram S
24  30/01/2020 15:04:10            SAI TEJA JALADI
25  30/01/2020 15:07:38         SAIKUMAR MANIKONDA

                              MailId                  Branch Qualification  \
0   sainagarajusakhamuri99@gmail.com                      IT        B.Tech
1             deepakrella9@gmail.com                     MCA            PG
2               chaitu1495@gmail.com                     MCA            PG
3            srikanthbisai@gmail.com                     MCA            PG
4          himajacherukuri@gmail.com                     cse         BTech
5            geethamuppuri@gmail.com                     CSE        B.Tech
6             muvvanikhita@gmail.com                     CSE        B.Tech
7           pavandasari226@gmail.com  Information Technology        B.Tech
8            bjaganmohan24@gmail.com            Data Science          M.sc
9     parameshkarumuri1997@gmail.com                     MCA            PG
10    ravindrakumarroyal12@gmail.com             DataScience           Msc
11     bhargavperumalla123@gmail.com        Computer Science           MCA
12         kavyathatavarti@gmail.com                      IT        B.Tech
13           harishbandi12@gmail.com  Information Technology        B.TECH
14       bhavanisankar5758@gmail.com            Data Science           MSc
15          devendra108148@gmail.com                     ECE        B.Tech
16        ramya.marripoodi@gmail.com  Information Technology        B.Tech
17            tvnagajyothi@gmail.com  Information Technology        B.tech
18         p.anandalakshmi@gmail.com        b com(computers)        degree
19           saikamavarapu@gmail.com              B.Sc(comp)        Degree
20             ali95asghar@gmail.com        Computer Science           MCA
21             121822502016@gitam.in            Data Science          M.Sc
22       duppatijayanaveen@gmail.com                     I.T        B.TECH
23     vikramsabbavarapu60@gmail.com       civil engineering        B-tech
24       saitejajaladi2000@gmail.com                     I.T        B.TECH
25             saikumarm64@gmail.com  Automobile Engineering           B.E

      RollNumber
0     161FA07039
1   121722501019
2   121722501015
3   121722501002
4     161fa04079
5     161FA04180
6     161FA04106
7     161FA07042
8   121822502015
9   121722501011
10  121822502017
11  121722501026
12    161FA07050
13    161FA07035
14  121822502018
15    14F41A0461
16    161FA07002
17    161FA07049
18    y167189053
19  140082202030
20  121722501013
21  121822502016
22    161FA07012
23    133J1A0150
24    161FA07025
25  245112769310  >

In [4]:
data.describe()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
count,26,26,26,26,26,26
unique,25,26,26,14,14,26
top,30/01/2020 15:00:28,DASARI PAVAN SAI,devendra108148@gmail.com,Information Technology,B.Tech,245112769310
freq,2,1,1,4,7,1

In [5]:
data.Branch.value_counts()

Information Technology    4
MCA                       4
Data Science              3
CSE                       2
Computer Science          2
I.T                       2
IT                        2
b com(computers)          1
DataScience               1
civil engineering         1
Automobile Engineering    1
B.Sc(comp)                1
cse                       1
ECE                       1
Name: Branch, dtype: int64

In [15]:
data['seconds']=data['Timestammp_dt'].dt.second
data.describe()

KeyError: 'Timestammp_dt'

In [10]:
data.describe(include=object)

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
count,26,26,26,26,26,26
unique,25,26,26,14,14,26
top,30/01/2020 15:00:28,DASARI PAVAN SAI,devendra108148@gmail.com,Information Technology,B.Tech,245112769310
freq,2,1,1,4,7,1

In [13]:
data.describe(include=object)

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
count,26,26,26,26,26,26
unique,25,26,26,14,14,26
top,30/01/2020 15:00:28,DASARI PAVAN SAI,devendra108148@gmail.com,Information Technology,B.Tech,245112769310
freq,2,1,1,4,7,1

In [16]:
import pandas as pd
prod_cat=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/prod_dimen.csv')
prod_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
Product_Category        17 non-null object
Product_Sub_Category    17 non-null object
Prod_id                 17 non-null object
dtypes: object(3)
memory usage: 536.0+ bytes